{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-packagejson"],
  "overrides": [
    {
      "files": ["packages/angular/**/*.html", "examples/angular/**/*.html"],
      "options": {
        "parser": "angular"
      }
    }
  ]
}
